streamlit
numpy
pandas
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt
segno
pillow

librosa>=0.11.0
numba>=0.61.0
llvmlite>=0.44.0
resemblyzer